.registerPage{
    position: relative;
    background-color: transparent;
    width:100%;
    overflow: hidden;
    .trView{
        width:100%;
        height:200px;   
        background-image: url(../assets/trbg.png);
        background-size:100%;        
    }
    .fillDiv{
        background-color: #fff;
        position: absolute;
        top:375px;
        bottom: 0;
        width: 100%;
    }
    .registerTab{
        height:50px;
        background-color: #fff;
        .closeBack{
            width:3rem;
            padding-left:1rem;
            font-weight: bold; 
            font-size: 3rem;
            line-height: 3rem;
        }
    }
    .myVideo{
        position: relative;
        overflow: hidden;
        height:0;
        width:0;
        background-color: #fff;
        // padding-bottom: 70%;
        // height:0;
        top: 0;
        left: 0;
        // transform: translateX(-50%);
        // border:10px solid darkturquoise;  
        // border-radius: 50%;
        // background-color: gray;
        // background-image: url('../assets/imgs/iu.jpeg');
        // background-size:100%;
        canvas{
            // width:250px;
            // height:250px;
            // display: none;        
        }
        overflow: hidden;
    }
    .cardList{
        margin-top:350px;
    }
    .alipayBtn{
        text-align: center;
        margin:5rem auto;
        button{
            width:80%;
        }
        
    }
    .circle-load {
        position: absolute;
        height:300px;
        width:300px;
        top: 4rem;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .circle-load-svg {
        stroke-dasharray: 0 911;
        animation: rot 1s linear 1;
        animation-fill-mode: forwards 
    }
    
    @keyframes rot {
        // 0% {
        //     stroke-dasharray: 0 0;
        // }
        100% {
            stroke-dasharray: 911 911;
        }
    }
}

