.contactpage{
    position: relative;
    background-color: transparent;
    width:100%;
    overflow: hidden;
    .registerTab{
        height:50px;
        background-color: #fff;
        .closeBack{
            width:3rem;
            padding-left:1rem;
            font-weight: bold; 
            font-size: 3rem;
            line-height: 3rem;
        }
    }
    .conView{
        position: relative;
        width:100%;
        height:375px;
        left: 0;
        top:0;   
        background-image: url(../assets/trbg.png);
        background-size:100%;        
    }
    .conFillDiv{
        background-color: #fff;
        position: absolute;
        top:375px;
        bottom: 0;
        width: 100%;
    }
    .PayVedio2{
        position: absolute;
        overflow: hidden;
        height:0;
        width:0;
        background-color: #fff;
        top: 0;
        left: 0;
        overflow: hidden;
    }
    .PayOrderDiv{
        // height:25rem;
        .myOrder{
            font-weight: bold;
        }
        .readAll{
            font-size: 1rem;
            color:gray;
        }
    }
    .circle-load {
        position: absolute;
        height:300px;
        width:300px;
        top: 1rem;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .circle-load-svg {
        stroke-dasharray: 0 911;
        // stroke-dashoffset:227.75;
        animation: rot 1s linear 1;
        animation-fill-mode: forwards 
    }
    
    @keyframes rot {
        // 0% {
        //     stroke-dasharray: 0 0;
        // }
        100% {
            stroke-dasharray: 911 911;
        }
    }
    .payDiv{
        // margin-top:2rem;
        position: absolute;
        bottom: 1rem;
        width: 100%;
    }       
}
.payPath{
    height:100%;
    width:100%;
    position: absolute;
    z-index: 100;
}