.myDiv{
    
    @extend .clear;
    background-color:rgb(246,246,246);
    // height:10rem;
    .registerLogin{
        font-size: 1.5rem;
        line-height: 6rem;
        float: left;
        margin-top:3rem;
    }
    .profilePhoto{
        height:9rem;
        width: 9rem;
        // border-radius: 50%;
        background-color: rgb(246,246,246);
        // background-image: url('../assets/imgs/iu.jpeg');
        // background-size: 100%;
        overflow: hidden;
        float: left;
        
    }
}

.myOrderDiv{
    height:10rem;
    margin-top:-6rem; 
    .myOrder{
        font-weight: bold;
    }
    .readAll{
        font-size: 1rem;
        color:gray;
    }
}