<ion-content padding>
  <div class="myDiv">
    <div class="profilePhoto">
      <img [src]="userservice.userInfo.imgBase" alt="">
    </div>
    <div *ngIf="!userservice.loginFlg" class="registerLogin left" on-tap="registerLoginTap()">
      登陆/注册
    </div>
    <div *ngIf="userservice.loginFlg" class="registerLogin left" on-tap="logout()">
      退出
    </div>
  </div>


  <div class="myOrderDiv" *ngIf="false">
    <div class="myOrder left">我的订单</div>
    <div class="readAll right">
      <!-- <div class="readAll right" on-tap="goToMyOrderPage()"> -->
      查看全部>
    </div>
    <div class="order"></div>
  </div>
  <!-- <button ion-button on-tap="removeFace()">removeFace</button>
    <button ion-button on-tap="weChat()">weChatOrder</button>

    <button ion-button on-tap="wechatPay()">wechatPay</button>
    <button ion-button on-tap="wechatAuth()">wechatAuth</button>
    <button ion-button on-tap="isInstalled()">isInstalled</button> -->

</ion-content>